In [ ]:
#theory questions
# 1 What are data structures, and why are they important?
"""Data structures are specialized formats for organizing, processing, retrieving and storing data.
They are important because they enable efficient data management, optimize memory usage, and allow for faster data access and manipulation in programs"""

#2 Explain the difference between mutable and immutable data types with examples.

"""Mutable data types can be changed after creation (e.g., lists, dictionaries, sets),
while immutable types cannot be modified after creation (e.g., integers, strings, tuples).
Example: You can append to a list ([1,2].append(3)), but you cannot modify a string """

#3What are the main differences between lists and tuples in Python?

"""Lists are mutable (can be modified), use square brackets [], and have more built-in methods.
Tuples are immutable (cannot be modified), use parentheses (), and are generally faster than lists."""
#4 Describe how dictionaries store data.

"""Dictionaries store data as key-value pairs, where each unique key maps to a value.
They use a hash table implementation which allows for fast O(1) average time complexity for lookups."""

#5  Why might you use a set instead of a list in Python?
"""A set is an unordered collection of unique elements.
Using a set is useful when you want to automatically eliminate duplicates and only keep distinct items.
For example, converting a list to a set removes any repeated values.
Moreover, sets are implemented with hash tables, so checking whether an element is in a set is much faster (average O(1) time) than checking membership in a list.
In other words, sets are great when you need uniqueness and fast membership tests"""
#6 What is a string in Python, and how is it different from a list?

"""A string is an immutable sequence of Unicode characters.
Unlike lists, strings cannot be modified after creation, and they have different methods specifically for text manipulation (like .upper(), .split())"""

#7 How do tuples ensure data integrity in Python?
"""Tuples are immutable, meaning once a tuple is created, its contents cannot be changed
. This immutability protects the data inside the tuple from accidental modification, ensuring the data remains consistent (integrity) throughout the program.
For example, if you use a tuple to store a set of values that should not change (like constants or coordinates), you can be sure they will stay the same.
Because of this, tuples are often preferred when fixed data is needed or when they are used as keys in dictionaries"""

#8 . What is a hash table, and how does it relate to dictionaries in Python?
"""A hash table is a data structure that stores key-value pairs and uses a hash function on each key to compute an index where the value is stored.
This allows very fast lookup, addition, and removal of items. In Python, the built-in dictionary is implemented using a hash table stackabuse.com
. When you access dict[key], Python hashes the key and quickly finds the value. In fact, Python dictionaries are essentially hash tables under the hood, making dictionary operations generally very efficient"""

#9  Can lists contain different data types in Python?
"""Yes. Python lists are heterogeneous, meaning you can store objects of any type in the same list.
For example, you could have my_list = [10, "hello", 3.14, True]. As one tutorial notes, “in a list you can store objects of any type.
You can also mix objects of different types within the same list”
. It’s common to use lists for collections of similar items, but Python imposes no type restriction on list elements"""

#10 Explain why strings are immutable in Python.
"""Strings are immutable for reasons of simplicity and efficiency. When a string is created, its memory can be fixed and optimized, and operations like hashing (for dictionary keys) become easier.
The official Python documentation notes that treating strings as “elemental” values (like numbers) means they never change; this allows fixed allocation of memory and consistent behavior

. In practice, if you need a different string, you create a new one rather than modifying the existing one. This design avoids surprises and helps performance (since immutable objects can be safely shared"""

#11 What advantages do dictionaries offer over lists for certain tasks?
"""Dictionaries let you look up values by key in constant time on average (O(1)), thanks to hashing, whereas searching for an item in a list takes linear time (O(n)) in the worst case
. This makes dictionaries much faster when you need to find data by an identifier or key.
Also, dictionaries naturally map one thing (the key) to another (the value), which is very convenient for many tasks (like counting occurrences or grouping data by names).
In summary, for key-based lookup and associative relationships, dictionaries are often superior to lists."""

#12  Describe a scenario where using a tuple would be preferable over a list.
"""Tuples are preferable when you have a fixed collection of items that should not change.
For example, if a function needs to return multiple values (like a pair of coordinates or configuration settings), a tuple is ideal.
This is because tuples being immutable protect the returned data from accidental modification.
Tuples are also used as keys in dictionaries (lists cannot be used as keys)
. As one explanation notes, tuples are “immutable, making them suitable for fixed… data”
realpython.com
. So, whenever you need a simple, constant record of items, choose a tuple."""

###13. How do sets handle duplicate values in Python?
"Sets automatically remove duplicate values when created. Adding a duplicate has no effect."

#14. How does the "in" keyword work differently for lists and dictionaries?
"""For lists: checks if value exists in list (O(n) operation)

For dictionaries: checks if key exists in dictionary (O(1) operation)"""

#15. Can you modify the elements of a tuple? Explain why or why not.
"No, tuples are immutable. You cannot change, add or remove elements after creation."






#16. What is a nested dictionary, and give an example of its use case.
"A nested dictionary is a dictionary that contains other dictionaries."
#example
employees = {
    'emp1': {'name': 'ajay', 'age': 32},
    'emp2': {'name': 'bijay', 'age': 28}
}


#17. Describe the time complexity of accessing elements in a dictionary.
"Average case O(1) for get, set, and delete operations. Worst case O(n) but very rare with proper hash functions."

#18. In what situations are lists preferred over dictionaries?
"""When order matters

When you need to store duplicates

When you need sequential access

When you don't have natural keys for your data"""

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
"""Prior to Python 3.7, dictionaries were unordered by definition. Now they maintain insertion order, but:

You still can't access elements by position/index

Order shouldn't be relied upon for program logic

The primary access method is by key"""

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
""" - Lists: retrieve by index (position), O(1) time

- Dictionaries: retrieve by key, O(1) time on average

- List indices are integers starting at 0, dictionary keys can be any immutable type"""

' - Lists: retrieve by index (position), O(1) time\n\n- Dictionaries: retrieve by key, O(1) time on average\n\n- List indices are integers starting at 0, dictionary keys can be any immutable type'

In [ ]:
# practical question

In [ ]:
#1. Create a string with your name and print it
name = "varun"
print(name)

varun

In [ ]:
#2 Find the length of the string "Hello World"

print(len("Hello World"))

11

In [ ]:
#3. Slice the first 3 characters from "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#4. Convert "hello" to upper case
"hello".upper()

'HELLO'

In [ ]:
#5. Replace "apple" with "orange" in "I like apple"
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

In [ ]:
#6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Append 10 to [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8 Remove 3 from [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9. Access the second element in ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#10. Reverse [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11. Create a tuple with 100, 200, 300 and print it

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. Access the second-to-last element of ('red', 'green', 'blue', 'yellow')

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [ ]:
#13. Find the minimum number in (10, 20, 5, 15)

t = (10, 20, 5, 15)
min(t)

5

In [ ]:
#14. Find the index of "cat" in ('dog', 'cat', 'rabbit')

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [ ]:
#15  Create a fruit tuple and check if "kiwi" is in it

fruits = ('apple', 'banana', 'orange')
'kiwi' in fruits

False

In [ ]:
#16 Create a set with 'a', 'b', 'c' and print it

s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
#17 Clear all elements from {1, 2, 3, 4, 5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18 Remove 4 from {1, 2, 3, 4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19  Find the union of {1, 2, 3} and {3, 4, 5}

s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:
#20 Find the intersection of {1, 2, 3} and {2, 3, 4}

s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1&s2

{2, 3}

In [ ]:
#21 . Create a dictionary with "name", "age", "city" and print it
person = {"name": "varun", "age": 24, "city": "New Delhi"}
print(person)

{'name': 'varun', 'age': 24, 'city': 'New Delhi'}

In [ ]:
#22 . Add "country": "USA" to {'name': 'John', 'age': '25'}

person = {'name': 'John', 'age': '25'}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [ ]:
#23 Access the value for "name" in {'name': 'Alice', 'age': '30'}

person = {'name': 'Alice', 'age': '30'}
person['name']

'Alice'

In [ ]:
#24 Remove "age" from {'name': 'Bob', 'age': '22', 'city': 'New York'}

person = {'name': 'Bob', 'age': '22', 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25  Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}
'city' in person

True

In [ ]:
#26 Create a list, tuple, and dictionary, and print them

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
#27 Create a list of 5 random numbers between 1-100, sort and print

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[14, 18, 46, 65, 86]

In [ ]:
#28 Create a list with strings and print the third index element

lst = ['apple', 'banana', 'cherry', 'date']
print(lst[2])

cherry

In [ ]:
#29 Combine two dictionaries into one

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {**dict1,**dict2}
dict3

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30 Convert a list of strings into a set

lst = ['a', 'b', 'a', 'c']
string_set = set(lst)
print(string_set)

{'a', 'c', 'b'}